version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      DJANGO_SUPERUSER_USERNAME: admin
      DJANGO_SUPERUSER_PASSWORD: strongpassword
      DJANGO_SUPERUSER_EMAIL: admin@example.com
